@model FinalProjectSPC.DTO.StudentDto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <a asp-action="Enroll" asp-route-id="@Model.Id">Enroll</a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <h3>Enrolled Courses</h3>
    <div>
        @foreach (var course in Model.Courses)
        {
            <dt>
                @Html.DisplayName(course.Name)
                <a asp-action="Drop" asp-route-studentId="@Model.Id" asp-route-courseId="@course.Id">Drop</a>
            </dt>
            <dd>
                @Html.Display(course.Name)
            </dd>
            <dt>
                @Html.DisplayName(course.Location)
            </dt>
            <dd>
                @Html.Display(course.Location)
            </dd>
            <dt>
                @Html.DisplayName(course.MeetingTime.ToString())
            </dt>
            <dd>
                @Html.Display(course.EndingTime.ToString())
            </dd>
            <dd>
                @Html.Display(course.MeetingDays)
            </dd>
            <hr />
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
