@model FinalProjectSPC.DTO.EnrollDto

@{
    ViewData["Title"] = "AssignCourse";
}

<h2>AssignCourse</h2>
<div>
<form asp-action="AssignCourse">
    @for (int i = 0; i < Model.CoursesOffered.Count; i++)
    {
        <dt>
            @Html.Raw("Assign:") <input asp-for="CoursesOffered[i].IsSelected" type="checkbox" />
        </dt>
        <dt>
            @Html.DisplayName(Model.CoursesOffered[i].Name)
        </dt>
        <dd>
            @Html.Display(Model.CoursesOffered[i].Name)
        </dd>
        <dt>
            @Html.DisplayName(Model.CoursesOffered[i].Location)
        </dt>
        <dd>
            @Html.Display(Model.CoursesOffered[i].Location)
        </dd>
        <dt>
            @Html.DisplayName(Model.CoursesOffered[i].MeetingTime.ToString())
        </dt>
        <dd>
            @Html.Display(Model.CoursesOffered[i].EndingTime.ToString())
        </dd>
        @Html.HiddenFor(m => m.CoursesOffered[i].Id)
        <hr />
    }
    <div class="form-group">
        <input type="submit" value="Assign" class="btn btn-primary" />
    </div>
</form>
</div>